<label class="label">Please enter one of the following Star Wars objects: 
    people, starships, planets, films, species, vehicles</label>
<input type="text" class="form-control" placeholder="" [(ngModel)]="SWObject">

<label class="label">Please enter a page number in the range 1-5</label>
<input type="text" class="form-control" placeholder="" [(ngModel)]="id">

<button (click)="searchSelection()" class="btn btn-primary" id="submit">Submit</button>

<h3 *ngIf="this.id">page: {{this.id}}</h3>

<!-- <div *ngFor="let item of data?.results">
    <div *ngFor="let elm of item | keyvalue">
           <li> {{elm.key}} : {{elm.value}} </li>
    </div>
    <div> ------------------------------------------ </div>
</div> -->


<table class="table">
    <thead>
        <tr>
            <th *ngFor="let elm of tHeads"> {{elm}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data?.results">
            <td *ngFor="let elm of item | keyvalue">
                <span *ngIf="tHeads?.includes(elm.key)">{{  elm.value}}</span>
            </td> 
        </tr>
    </tbody>
</table>

